.product-list {
  flex: 3;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
  margin: 0 auto;
}

.product-item p {
  margin: 5px 0;
}

.product-item button {
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.product-item button:hover {
  background-color: #218838;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .product-item {
    width: 100%;
    max-width: 300px;
  }
}